{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <form class="form-horizontal">
                <legend>Find a Flight</legend>
                <div class="form-group">
                    <label for="inputFrom" class="col-lg-2 control-label">From</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputFrom" placeholder="Departure City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTo" class="col-lg-2 control-label">To</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTo" placeholder="Arrival City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDepart" class="col-lg-2 control-label">Depart</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="datetimepicker" data-date-format="YYYY-MM-DD" placeholder="Departure Date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectAdults" class="col-lg-2 control-label">Adults</label>
                    <div class="col-lg-3">
                        <select class="form-control" id="selectAdults">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectChildren" class="col-lg-2 control-label">Children</label>
                    <div class="col-lg-3">
                        <select class="form-control" id="selectChildren">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectInfantLap" class="col-lg-2 control-label">Infant(lap)</label>
                    <div class="col-lg-3">
                        <select class="form-control" id="selectInfantLap">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectInfantSeat" class="col-lg-2 control-label">Infant(seat)</label>
                    <div class="col-lg-3">
                        <select class="form-control" id="selectInfantSeat">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectSeniors" class="col-lg-2 control-label">Seniors</label>
                    <div class="col-lg-3">
                        <select class="form-control" id="selectSeniors">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/flights.js' %}"></script>
<script type="text/javascript">
$(function(){
    $('#datetimepicker').datetimepicker({
        pickTime: false
    });
});
</script>
{% endblock %}